audiocraft
aeiou
alias-free-torch
auraloss
descript-audio-codec
einops
einops-exts
ema-pytorch
encodec
gradio
huggingface_hub
importlib-resources
k-diffusion
laion-clap
local-attention
mamba-ssm
pandas
pedalboard
prefigure
pytorch_lightning
PyWavelets
safetensors
sentencepiece
s3fs
torch
torchaudio
torchmetrics
tqdm
transformers
v-diffusion-pytorch
vector-quantize-pytorch
wandb
webdataset
x-transformers
g2p_en